<HTML>
<head>
  <style>
  
  </style>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <script src="http://code.angularjs.org/1.2.5/angular.js"></script>
  
</head>

<body ng-app="CCapp" ng-controller="table_controller">


<!-- View table -->
<table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Authors </th>
        <th> Delete Action </th>
        <th> Update Action </th>
      </tr>
      <tbody>
        <tr ng-repeat="book in books.items">
          <td>  {{book.title}} </td>
          <td > {{book.description}}  </td>
          <td> 
			<ul>
				<li ng-repeat="author in book.authors">{{author}}</li>
			</ul>	
		  </td>
		  <td><button type="submit" class="btn btn-success btn-lg btn-block" ng-click="delete()" ng-value="{{book.id}}"> Delete </button></td>
		  <td><button type="submit" class="btn btn-success btn-lg btn-block" ng-click="modify()" ng-value="{{book.id}}"> Update </button></td>
        </tr>
      </tbody>
  </table>
  </br>
  </br>
  </br>
  
  <!-- Form to add book -->
  <form>
    <!-- Title -->
    <div id="title-group" class="form-group">
      <label style="padding-right: 49px;">Title</label>
      <input type="text" ng-model="addBook.title" class="form-control" placeholder="Titles.." required>
      <span >Titles is required.</span>
    </div>
  </br>

    <!-- AUTHOUR NAME -->
    <div id="authors-group" class="form-group">
      <label style="padding-right: 24px;">Authors</label>
      <input type="text" ng-model="addBook.authorsList" class="form-control" placeholder="Authors.." required>
      <span >Comma Separated : Authors name is required.</span>
    </div>
  </br>

	<!-- Description -->
	<div id="Description-group" class="form-group">
      <label>Description</label>
      <input type="text" ng-model="addBook.description" class="form-control" placeholder="Description.." required>
      <span >Description is required.</span>
    </div>
  </br>
	
	
    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled = "addBook.title.$dirty &&
                        addBook.title.$invalid || addBook.authors.$dirty &&
                        addBook.authors.$invalid || addBook.description.$dirty &&
                        addBook.description.$invalid" ng-click="submit()">
				Submit!
    </button>
  </form>
  <script src="scripts.js"></script>
  
</body>
</HTML>
